@charset "utf-8";

body {
  background-color: #498C8C;
  font-family: Arial;
  color: aliceblue;
  width: 650px;
  margin: auto;
  padding: 15px;
}

h1#principal {
  
  text-align: center;
  text-shadow: 1px 1px 0px rgb(70, 70, 136) ;
  border-radius: 10px;
  text-shadow: 1px 1px 0px aliceblue;
  border-style: dotted;
  
}

.subtitulo{
  text-shadow: 1px 1px 0px rgb(70, 70, 136);
  border-radius: 10px;
  border-style: dotted;
}
 
h2.basico{
  text-shadow: 1px 1px 0px rgb(70, 70, 136)
  
}

h2.intermediario{
  text-shadow: 1px 1px 0px rgb(70, 70, 136)
}

h2.avancado{
  text-shadow: 1px 1px 0px rgb(70, 70, 136)
}

p {
  text-align: justify;
}
